version: '3.8'

services:
  app:
    build: .
    ports:
      - "5000:5000"
    env_file: .env
    environment:
      - NODE_ENV=development
    depends_on:
      - postgres
    restart: unless-stopped
    
  postgres:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data: